@if (product()) {
  <div class="detail">
    <div class="left">
      <img [src]="getImageStable(product()?.imageFile)" alt="" />
    </div>

    <div class="right">
      <h3 class="name">{{ product()?.auctionCategory }}</h3>
      <span class="author">by {{ product()?.authorName }}</span>

      <h3 class="price">${{ product()?.estimatedPrice | number }}</h3>

      <p class="description">{{ product()?.description }}</p>

      <span class="date">{{ product()?.auctionDate | formatMediumDate }}</span>
    </div>
  </div>
}
