.dropdown {
  width: 100%;
  margin-bottom: 15px;
  .name {
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 600;
    }
    svg {
      color: #a4a2a2;
      transition: 0.5s;
      transform: rotateZ(90deg);
    }
    .active-icon {
      transform: rotateZ(-90deg);
    }
  }

  .dropdown-items {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
    animation-delay: 1s;
    padding: {
      left: 7px;
      right: 7px;
    }
  }

  .active {
    max-height: 300px;
  }
}

.category-select {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  span {
    font-weight: 400;
    font-size: 14px;
  }
}

.price {
  display: flex;
  gap: 5px;
  width: 100%;
  margin-top: 10px;

  .price-input {
    border-radius: 10px;
    border: 1px solid rgba(169, 169, 169, 0.38);
    width: 50%;
    display: flex;
    padding: 6px 16px;
    font-size: 12px;

    span {
      font-weight: 500;
      font-size: 14px;
    }

    input {
      font-size: 12px;
      display: flex;
      width: 100%;
      border: none;
      background: none;
      outline: none;
    }
  }
}

.date {
  margin-top: 10px;
  display: flex;
  border-radius: 10px;
  border: 1px solid rgba(169, 169, 169, 0.38);
  padding: 6px 16px;
  width: 100%;
  cursor: pointer;

  input {
    font-size: 12px;
    outline: none !important;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
  }

  button {
    font-size: 12px;
    border: none;
    background: none;
  }
}
