<div class="main">
  <h2>Explore</h2>

  <div class="body">
    <div class="left">
      <filter (onFilter)="setQuery($event)" />
    </div>

    <div class="right">
      <div class="products">
        @for (product of products(); track $index) {
          <div class="product">
            <img [src]="getImageStable(product.imageKey)" [alt]="product.authorName" />

            <div class="names">
              <div class="category">{{ product.auctionCategory }}</div>
              <div class="price">{{ product.estimatedPrice | number }} $</div>
            </div>

            <div class="author">
              {{ product.authorName }}
            </div>

            <span class="year">
              {{ product.producedYear | date }}
            </span>
          </div>
        }
        @for (product of products(); track $index) {
          <div class="product">
            <img [src]="getImageStable(product.imageKey)" [alt]="product.authorName" />

            <div class="names">
              <div class="category">{{ product.auctionCategory }}</div>
              <div class="price">{{ product.estimatedPrice | number }} $</div>
            </div>

            <div class="author">
              {{ product.authorName }}
            </div>

            <span class="year">
              {{ product.producedYear | date }}
            </span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
