.live-auction {
  .live-auction-grid {
    .featured-card {
      border-radius: 15px;
      .card-img-top {
        object-fit: cover;
        height: 250px; /* Adjust as needed */
      }

      .countdown {
        margin-top: -180px;
        border-radius: 15px;
        .countdown-item {
          min-width: 50px;
        }
      }
      .countdowns {
        //margin-top: -50px ;
        border-radius: 15px;
        .countdown-item {
          min-width: 50px;
        }
      }
    }
    .card img.card-img-top {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
      height: 150px; /* Adjust for smaller cards */
    }

    .main-card-top {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
      height: 570px; /* Adjust for smaller cards */
    }
    .card-mini-img-top {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      object-fit: cover;
      height: 220px; /* Adjust for smaller cards */
    }
    .countdown-item {
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0.25rem 0.5rem;
    }
    .card-body {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
    .card-mini-img-top {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}
