.main {
  padding: 1rem;

  h2 {
    font-weight: 500;
    text-transform: uppercase;
  }

  .body {
    display: flex;
    margin-top: 3rem;
    gap: 5rem;

    .left {
      width: 250px;
    }

    .products {
      display: flex;
      flex-wrap: wrap;
      gap: 1rlh;

      .product {
        border-radius: var(--border-radius);
        width: 350px;
        border: 1px solid rgba(210, 207, 207, 0.45);
        position: relative;
        img {
          border-radius: var(--border-radius);
          width: 100%;
          height: 250px;
          object-fit: cover;
          display: flex;
          transition: 0.5s;
        }

        .names {
          padding: 10px;

          .category {
            font-weight: 500;
            font-size: 12px;
          }

          .price {
            font-weight: 600;
            font-size: 18px;
          }
        }

        .author {
          border-top: 1px solid rgba(162, 162, 162, 0.42);
          width: 100%;
          font-size: 12px;
          color: #444444;
          font-weight: 400;
          padding: {
            top: 5px;
            left: 10px;
            bottom: 15px;
          }
        }

        .year {
          display: flex;
          position: absolute;
          right: 10px;
          bottom: 10px;
          font-size: 12px;
          font-weight: 500;
          font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .product {
    width: calc(100% / 3 - 1rlh) !important;
    img {
      height: 150px !important;
    }
  }
}
