<div id="fh5co-about-section">
  <div class="container my-5">
    <h2>About</h2>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading"></div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div class="about-inner">
              <img src="../../../content/images/AuctionHouse old web.jpg" height="274" width="448" />
              <h3>History</h3>
              <p>
                Fotheby’s is well known globally as an auction company that has dealt with the sale of art pieces for over 63 years. With
                the growth of art sales and the increasing demand for well-overseen organizations, the company will improve clerical
                inventory and replace it with a more efficient computerized system. This shall ensure that the clients get a better way to
                search through the extensive database of available stocks for bidding.
              </p>
              <blockquote>
                <p>
                  Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                  Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <aside class="sidebar">
          <div class="row">
            <div class="col-md-12 side">
              <h3>Paragraph</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
<jhi-footer></jhi-footer>
